body{
    background-color: #021d10;
}

h1.title{
    color: #f0f6fc;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

div.score-container{
    color: #f0f6fc;
    display: flex;
    justify-content: space-evenly;
    max-height: 100px;
}

div.score-container h3{
    font-size: 40px;
}

div.score-container p{
    font-size: 80px;
}

div.computer-score{
    display: flex;
    align-items: center;
}

div.player-score{
    display: flex;
    align-items: center;
}

div.selection-container{
    display: flex;
    justify-content: space-around;
}

div.selection-container .content{
    display: flex;
    flex-direction: column;
}

div.selection-container .choices{
    height: 280px;
    width: 280px;
    border: solid powderblue;
    border-width: 5px;
    border-radius: 10px;
    background-color: #ffffff00;
    transition: all .05s;
}

div.selection-container .content h4{
    font-size: 30px;
}

div.selection-container button.selected{
    border: solid red;
    border-width: 5px;
    background-color: #facfd2;
    transform: scale(1.2);
}

div.selection-container p.game-over{
    font-size: 60px;
    font-weight: 500;
    color: paleturquoise;
}

div.unplanned-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.selection-container .results-window .image{
    height: 280px;
    width: 280px;
    border: solid powderblue;
    border-width: 5px;
    border-radius: 10px;
    background-color: #ffffff00;
}